{% extends 'base.html' %}

{% block content %}

{% if messages %}
  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
      {% for message in messages %}
      <p{% if message.tags == "success" %} <div class="alert alert-success"{% endif %}>{{ message }}</p>
      {% endfor %}
    </div>
  </div>
{% endif %}

<form action="" class="form-horizontal" method="POST"> {% csrf_token %}
  <!-- Each field -->
  {% for field in form %}
    <div class="form-group">
      <label for={{ field.id_for_label }} class="col-sm-2 control-label">{{ field.label }}</label>
        <div class="col-md-4">
          <!-- {{ field }} -->
          <input type="text" class="form-control" name='{{ field.html_name }}' id='{{ field.id_for_label }}' placeholder='{{ field.label }}'>
    </div>
  </div>
  {% endfor %}
    <!-- Submit button -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <input type="submit" class="btn btn-primary btn-lg" role="button" value="Create Event">
        </div>
      </div>
</form>

{% endblock %}